body {
  margin: 0;
}

.slide:nth-of-type(1), .slide:nth-of-type(2), .slide:nth-of-type(3), .slide:nth-of-type(4), .slide:nth-of-type(5) {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides {
  position: relative;
  list-style-type: none;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding-left: 0;
}

.slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background: #333;
  color: #fff;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.slide:nth-of-type(1) {
  background: url(../images/384578.jpg);
}

.slide:nth-of-type(2) {
  background: url(../images/529285.jpg);
}

.slide:nth-of-type(3) {
  background: url(../images/932574.jpg);
}

.slide:nth-of-type(4) {
  background: url(../images/97dd5.jpg);
}

.slide:nth-of-type(5) {
  background: url(../images/thumb-1920.jpg);
}

.active {
  opacity: 1;
  z-index: 2;
}

.controls {
  position: absolute;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.control {
  font-size: 6rem;
  color: white;
  background-color: #282c34;
  opacity: 0.1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.control:hover {
  opacity: 0.4;
}

.control:nth-of-type(1), .control:nth-of-type(3) {
  padding: 50vh 5vw 50vh 5vw;
}

.control:nth-of-type(2) {
  background-color: transparent;
  padding: 50vh 15vw 50vh 15vw;
}

.indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  z-index: 3;
  margin: 0;
  padding: 16px 0;
}

.indicator {
  width: 40px;
  height: 8px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid white;
}

.indicator.active {
  background-color: white;
}
